body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,80,0.9)),
              url("fundo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.cartao {
  background-color: rgba(20, 20, 20, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,255,150,0.6);
  text-align: center;
  width: 380px;
}

.cartao h1 {
  font-size: 30px;
  color: #00ff99; /* verde neon */
  margin-bottom: 20px;
  text-shadow: 0 0 8px #00ffcc;
}

.cartao p {
  font-size: 16px;
  color: #e0e0e0; /* cinza forte */
  line-height: 1.6;
}